.matrix {
    flex: 3;
    overflow-y: auto; /* Add vertical scrolling when content exceeds the height */
    height: calc(100vh - 50px); /* Adjust as needed to accommodate the menu bar and other elements */
}

/* Add a CSS class to make the table header sticky */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f7f7f7; /* Adjust the background color as needed */
}

#schedulerTable {
    border-collapse: collapse;
    width: 100%;
}

/* Style table headers (th) */
#schedulerTable th {
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 10px;
    background-color: #f7f7f7;
    font-weight: bold;
}

#schedulerTable td {
    border-top: none; /* Remove all top borders by default */
    border-bottom: none; /* Remove all bottom borders by default */
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    padding: 10px;
    height: 2px; /* Each cell is now 10px high */
}

/* Display borders for cells at the beginning of each hour */
#schedulerTable td.hour-start {
    border-top: 1px solid #e0e0e0; /* Add top border */
}

/* Display borders for cells at the end of each hour */
#schedulerTable td.hour-end {
    border-bottom: 1px solid #e0e0e0; /* Add bottom border */
}

/* Style the first column (e.g., time column) */
#schedulerTable td:first-child {
    max-width: 50px;  /* Adjusted width for the time column */
    width: 50px;      /* Ensure the width does not exceed the defined value */
    white-space: nowrap;
    font-size: 14px;
    text-align: center; /* Align the time to the right side of the cell */
    padding-right: 5px; /* Some padding to ensure the time doesn't touch the border */
    padding-top: 0px;
    vertical-align: top;
    border: none;
}