/* Basic Button Styling for toggle-btn */
.toggle-btn {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s;
    outline: none;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    width: 120px;
}

/* Loading bar styles */
.loader-bar {
    width: 0;
    min-height: 3px; /* Height of the loading bar */
    background-color: #35c25d; /* Loading bar color */
    position: relative;
    transition: width 0.2s linear; /* Animation duration and timing function */
    z-index: 999; /* Ensure it's above other content */
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    background-color: #ff4d4f;
    color: white;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.custom-popup {
    max-width: 200px; /* Adjust the maximum width as needed */
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.course-loc-tooltip {
    position: fixed;
    white-space: nowrap; 
    background-color: #363636;
    color: white;
    border: none;
    font-size: 12px;
    padding: 10px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    text-wrap: wrap;
}