/* Apply the same styles to the filter selector as the input field */
#filter {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

/* Updated CSS to display the label and select on the same line */
.filter-selector {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.filter-label {
    flex: 1; /* Allow the label to expand to fill available space */
    display: flex;
    align-items: center; /* Vertically center the label */
}

.filter-selector label {
    margin-right: 10px; /* Add spacing between label and select */
    font-size: 18px;
}

/* Add styles for the modern button */
.modern-button {
    background-color: #232422; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for spacing */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
    width: 100%; /* Match the width of the search field */
    margin-top: 10px; /* Add spacing between the search field and button */
}

.modern-button:hover {
    background-color: #2ea008; /* Background color on hover */
}

.btn-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;     /* Center the buttons vertically */
    margin-top: 15px;        /* Add some space on top of the buttons */
}

/* Basic Button Styling for toggle-btn */
.toggle-btn {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s;
    outline: none;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    width: 120px;
}

/* Modern Gradient Background for toggle-btn */
.toggle-btn {
    background: linear-gradient(45deg, #FFC312, #EE5A24, #00a8ff);
    background-size: 600% 100%;
}

.toggle-btn:hover {
    background-position: 100% 0;
}

/* Disabled Button Styling for toggle-btn */
.toggle-btn:disabled {
    background: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

/* Loading bar styles */
.loader-bar {
    width: 0;
    height: 3px; /* Height of the loading bar */
    background-color: #35c25d; /* Loading bar color */
    position: relative;
    top: 0;
    left: 0;
    transition: width 0.2s linear; /* Animation duration and timing function */
    z-index: 999; /* Ensure it's above other content */
}

input[type="text"] {
    width: 100%; /* Adjust the width calculation based on your padding */
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in total width */
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Style the search container */
.search-container {
    position: relative;
}

/* Style the search results list */
.search-results-list {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

/* Style individual search result items */
.search-results-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Increase padding for more spacing */
    background-color: #232422;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-bottom: 5px; /* Add margin to space items apart */
    border-radius: 5px; /* Increase border-radius for rounded corners */
    overflow: hidden;         /* Hide the overflow content */
    transition: all 0.3s; /* Add height to the transition properties */
}

.search-results-list li:hover {
    height: 45px;
    background-color: #2ea008;
}

.search-results-list li span.description {
    display: none;            /* Initially hide the description */
    white-space: nowrap;      /* Keep the text on one line */
    overflow: hidden;         /* Hide the overflow text */
    text-overflow: ellipsis;  /* Add ellipsis to truncated text */
}

.search-results-list li:hover span.description {
    display: block;           /* Show the description on hover */
}

.search-results-list li span.course-name {
    display: block;
}

/* New CSS: Hide course name on hover and show only the description */
.search-results-list li:hover span.course-name {
    display: none;
}
