/* Set the body and html elements to 100% height */
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url("https://mdn.github.io/web-fonts/LatoReg.ttf");
}
  
body {
    font-family: Lato, sans-serif;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
}