.menu-bar {
    display: flex;
    justify-content: space-between; /* Use space-between to push h1 to the left and links to the center */
    align-items: center;
    padding: 8px; /* Adjust as needed */
    border-bottom: 1px solid #ccc;
    color: black;
}

.menu-bar h1 {
    margin: 0; /* Remove default margin */
    font-size: 1.4em;
}

.menu-bar-center {
    display: flex;
    flex-grow: 1; /* Allows the center container to grow and use up available space */
    margin: 0; /* Reset margin to ensure centering */
}

.menu-bar-center a {
    color: black;
    border-bottom: 2px solid transparent; /* Reserve space for the border */
    text-decoration: none;
    margin: 0 10px; /* Spacing between the links */
    padding: 10px 15px;
    transition: all 0.3s ease; /* Transition only the color */
}

.menu-bar-center a.active {
    border-bottom: 2px solid #000000; /* Solid border for the active link */
}

.menu-bar-center a:hover {
    border-bottom-color: #000000; /* Change only the color, not the border size */
    background-color: #f1f1f1;
    cursor: pointer;
}

.credit-container {
    margin-left: 40px;
    margin-right: 30px;
}

#logo {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}  
