.mobile {
    display: none; /* Hide mobile elements initially */
}

@media (max-width: 1200px) {
    .mobile {
        display: block; /* Show mobile elements in small screens */
    }
    
    .menu-bar {
        display: none;
    }

    #calendar-sidebar {
        display: none;
    }

    #right-sidebar {
        flex-grow: 1;
        overflow-y: hidden;
        display: none;
    }

    #left-most-sidebar {
        flex: 1;
    }

    #mobileNav {
       height: 60px;
       border-bottom: 1px solid #ccc;
    }

    #preview-container {
        display: none;
    }

    #selected-schedule-container {
        padding: 30px 50px;
    }

    #preview-table {
        padding: 30px 50px;
    }

    #crn-container {
        margin-top: 0;
        display: none;
    }

    .sidebar {
        border-right: none;
    }

    #left-most-sidebar {
        min-width: 350px !important;
        max-width: 100%;
        overflow-y: auto;
    }

    .mobile-bar {
        display: flex !important;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        color: black;
    }
    
    .menu-bar-center {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .menu-bar-center a {
        flex: 1; /* Each link will take up an equal amount of space */
        text-align: center; /* Center the text within each link */
        margin: 0;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .credit-container{
        margin-left: 25px;
    }

    #credits-mobile {
        margin-right: 0px;
    }

    .mobile-button {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    .menu-bar-center a.active {
        border-bottom: 1px solid #2d2d2d; /* Solid border for the active link */
        background-color: #f1f1f1;
    }

    #interaction-container {
        display: block;
    }
    
    #filter-text {
        display: none;
    }

    #schedulerTable td {
        font-size: 10px;
    }

    #schedulerTable td:first-child {
        font-size: 9px;
        padding-right: 0px;
    }

    #schedulerTable td:first-child {
        max-width: 30px;
    }

    #schedulerTable th:first-child {
        padding: 0;
        padding-right: 5px;
    }

    #schedulerTable th {
        font-size: 10px;
    }

    .mini-preview td {
        height: 2px;
    }

    #right-sidebar {
        min-width: 290px !important;
        max-width: none;
    }

    #selected-schedule-container {
        padding: 15px 15px 30px 15px;
        display: none; 
    }

    #preview-table {
        padding: 30px 15px 30px 15px;
    }
}

.mobile-bar {
    display: none;
}