.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px; 
    padding-bottom: 0;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    overflow: auto;
}

#left-most-sidebar {
    min-width: 350px !important;
    max-width: 350px;
    overflow-y: auto;
}

#right-sidebar {
    min-width: 290px !important;
    max-width: 290px;
    height: 100%;
    overflow-y: hidden;
}

#calendar-sidebar {
    padding: 0;
    height: 100%;
    flex: 3.5;
    overflow: hidden;
}

#saved-schedule-container {
    max-width: 290px;
}